<nav class=" rounded-md w-72 h-full flex-col justify-between">
	<div class=" bg-white h-full">
		<a class="flex  justify-center py-10 shadow-sm pr-4" routerLink="/">
            <fa-icon class="text-indigo-600 text-2xl" [icon]="['fas', 'book']"></fa-icon>
			<span class="pl-2">
				<h1 class="text-2xl font-bold text-indigo-600">KIBOOK</h1>
					<span class="text-xs block text-gray-800"></span>
            </span>
		</a>
		<div class="pl-10">
			<ul class="space-y-4 pt-10">
				<li class="flex flex-col">
					<div class="flex space-x-4 items-center">
                        <fa-icon [icon]="['fas', 'book']"></fa-icon>
                        <span>Libros</span>
                    </div>
                    <ul class="space-y-2 pl-0 text-sm mt-2 ml-9">
                        <li class="flex space-x-2 items-center hover:text-indigo-600 cursor-pointer">
                            <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                            <a routerLink="/admin/books/create">Agregar libro</a>
                        </li>
                    </ul>
				</li>
                <li class="flex flex-col">
					<div class="flex space-x-4 items-center">
                        <fa-icon [icon]="['fas', 'user']"></fa-icon>
                        <span>Autores</span>
                    </div>
                    <ul class="space-y-2 pl-0 text-sm mt-2 ml-9">
                        <li class="flex space-x-2 items-center hover:text-indigo-600 cursor-pointer">
                            <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                            <a routerLink="/admin/books/create">Agregar autor</a>
                        </li>
                    </ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
